    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-3 col-sm-6"><br/><br/>
              <img src="img/HU_headSm.png" width="500" />
              </div>
            <div class="col-lg-7 col-sm-push-3">
            <br/><br/>
              <h2>ABOUT ME</h2>
              <hr class="section-heading-spacer"><br/>
              <font size="4px">
              <br/>
                <p>I am a Ph.D. candidate (ABD) in <a href="https://clas.uiowa.edu/polisci/">Department of Political Science</a> of the <a href="https://uiowa.edu/">University of Iowa</a>.</p>
                <p>My research interest primarily lies in <font color="Tomato">language policy</font>, <font color="Tomato">political communication</font>, and <font color="Tomato">public opinion</font>. I particularly focuses on how language policy affects citizens' political attitudes, relations, and value system, and how government-to-citizen communication influences public opinion.</p>
                <p>Apart from the primary interests, I also research economic and social inequality and political methodology with special interest in survey experimentation, spatial analysis, network analysis, and data visualization. In the area of international relations, I studies soft power and public diplomacy.</p>
                <br/>

                <h2>Education</h2>
                <br/>
                <p>Ph.D in Political Science, University of Iowa, 2018 (expected).</p>
                <p>Certificate in Informatics, University of Iowa, 2016.</p>
                <p>M.A. in Political Science, University of South Carolina, 2012;</p>
                <p>M.A. in Political Science, University of Regina, 2011.</p>
                <p>B.L.L. in International Relations, Nankai University, 2009.</p>
                <br/>
              </div>
        </div>
    </section>