<section id="life">
<!-- Page Content -->
{% for post in site.posts reversed %}
     {% if post.category contains 'Life'%}
          {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            {% if thecycle == 'odd' %}
            <div class="content-section-a">

                <div class="container">

                    <div class="row">
                        <div class="col-lg-6 col-sm-offset-2 col-sm-push-4 col-sm-6">
                            <h2 class="section-heading">{{ post.title }}</h2>
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <div class="lead">{{ post.content }}</div>
                        </div>
                        <div class="col-lg-4 col-sm-pull-8 col-sm-6">
                          <img class="img-responsive" src="img/life/map.jpg" alt="">
                          </br>
                          <img class="img-responsive" src="img/life/tianta.jpg" alt="">
                          </br>
                    </div>

                </div>
                <!-- /.container -->

            </div>
            <!-- /.content-section-a -->
            {% else %}

            <div class="content-section-b">

                <div class="container">

                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <img class="img-responsive" src="img/life/alpaca.png" style="float: left; height: 14em; margin-right: 1%;">
                            <img class="img-responsive" src="img/life/cohortFarewell.png" style="float: left; height: 14em; margin-right: 1%;">
                            <img class="img-responsive" src="img/life/flightSit.png" style="float: left; height: 14em; ">
                            <!--img class="img-responsive" src="img/life/golf.png" style="float: left; height: 14em; margin-right: 10.8%;"-->
                            <!--img class="img-responsive" src="img/life/titon.jpg" style="float: left; height: 14em; margin-right: 10.8%;"-->
                            <!--img class="img-responsive" src="img/life/roller.png" style="float: left; height: 14em; margin-right: 10.8%;"-->
                            <!--img class="img-responsive" src="img/life/taiji_v.png" style="float: left; height: 14em; ">
                            <p style="clear: both;">
                        </div>
                    </div>

                </div>
                <!-- /.container -->

            </div>
            <!-- /.content-section-b -->
            {% endif %}
         {% endif %}   
     {% endfor %}
</section>
